.header-right {
  width: 10%;
    display: flex !important;
    justify-content: space-between;
    position: absolute;
    right: 0;
    height: auto;
    margin-top: 30px;

}
.cosial-icon {
  width: 21px;
  height: 21px;
  object-fit: cover;

}
