.cart-block {
	width: 100%;
}
.cart-block {
	display: flex;
	align-items: center;
	position: relative;
	font-size: 14px;
	height: 45px;
	&_left {
		position: absolute;
		left: 20px;
	}
	&_right {
		position: absolute;
		right: 20px;
	}
}
.cart-block::after {
	content: '';
	border: 0.5px solid grey;
	width: 100%;
	position: absolute;
	bottom: 0;
}
.cart-icon {
	background-color: grey;
}
.cart-empty {
	background-color: white;
	opacity: 0.5;
	width: 100%;
	height: 215px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: column;
	text-align: center;
	padding: 0 10px;
	&-text {
		width: 70%;
		font-size: 12px;
		margin-top: 10px;
		margin-bottom: 50px;
	}
}
.cart-empty::after {
	content: '';
	border: 1px solid black;
	width: 100%;
}
.cart-request_btn {
	overflow: hidden !important;
	width: 97%;
	height: 69px;
	border: none;
	border-radius: 0;
	background-color: transparent;
	justify-content: flex-start;
	display: flex;
	padding-left: 20px;
	font-size: 15px;
	position: relative;
	outline: none !important;
	align-items: center;
	&-text {
		margin-bottom: 0 !important;
		width: 100%;
		justify-content: flex-start;
		display: flex;
		margin-left: 10px;
	}
}

.cart-request_btn::after {
	content: '';
	border: 0.5px solid grey;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.cart-btn {
	border: none !important;
	border-radius: 0 !important;
	color: white !important;
	width: 100%;
	font-weight: 700 !important;
	letter-spacing: 0.3px;
	cursor: not-allowed !important;
}

.cart-btn:active {
	box-shadow: 0 0px 2px rgb(198, 198, 198) !important;
	border: none !important;
}

.cart-bottom {
	padding: 0 0 0 20px;
	&-text {
		font-size: 12px;
		color: gray;
		margin: 10px 0 15px;
	}
}
.order_text_block {
	outline: none !important;
	border: 0.5px solid rgba(186, 185, 185, 0.585);
	width: 100%;
	margin-top: 10px;
	height: 45px;
	padding: 5px 0 0 10px;
	visibility: hidden;
}
.order_text_block:focus {
	border: 2px solid grey;
	box-shadow: 1px 0 2px rgba(191, 190, 190, 0.435);
}
.order-request {
	width: 100%;
	display: flex;
	position: absolute;
	align-items: center;
	visibility: visible;
}
