.modal-item {
	z-index: 25px !important;
	justify-content: space-around;
}

.modal-img {
	width: 100%;
	height: auto;
	visibility: hidden;
}

.modal-right {
	font-family: 'Raleway', sans-serif;
	padding: 0 50px;
	width: 76%;
	position: relative;

}
.modal-right_header {
	font-size: 20px;
	letter-spacing: 0.2px;
	display: grid;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	&_text {
		width: 80%;
		padding-left: 20px;
	}
	&_icon {
		width: 20%;
		width: 20px;
		height: 20px;
		margin-top: 5px;
		position: absolute;
		right: 0;
	}
	&_line {
		border: 1.4px solid grey;
		width: 100%;
	}
	&_link {
		position: absolute;
		z-index: 20;
		top: 0;
		right: 50px;
	}
}
.modal-right_text {
	font-size: 15px;
	letter-spacing: 0.2px;
	width: 100%;
	padding-left: 20px;
}
.modal-right_text-hidden {
	display: none;
}
.modal-right_header::after {
	content: '';
	margin: 15px 0 30px;
	width: 100%;
	z-index: 80;
	border: 0.3px solid rgba(144, 143, 143, 0.85);
}
.modal-right_text::after {
	content: ' @wix: #wix, #website, #freewebsite, #websitetemplate, #wix.com';
	color: rgba(144, 143, 143, 0.85);
}
