.home_top_card {
	height: auto;
	border: none !important;
}
.top-img_card {
	border: none !important;
}

.top-img {
	height: 100%;

	&_center {
		margin: 0 !important;
		border: none !important;

		&-color {
			background-color: rgb(247, 233, 228) !important;
			margin: 0 !important;
		}
	}
}

.home_top-content {
	&_box {
		background-color: rgb(247, 233, 228) !important;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		border: none !important;
	}
}

.top-img_text-box {
	position: absolute;
	background-color: transparent;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 335px;

	&_text {
		width: 320px;
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 40px;
		line-height: 44px;
		letter-spacing: 1px !important;
	}

	&_btn {
		display: flex !important;
		justify-content: center;
		background-color: white !important;
		border: none !important;
		width: 160px !important;
		height: 49px !important;
		align-self: center !important;
		font-weight: 700 !important;
		outline: none !important;
		color: black !important;
		letter-spacing: 1.1px;
		font-size: 16px;
	}

	&_btn:hover {
		border: 1.5px solid black !important;
	}
}
